#root {
  /* max-width: 96ch; */
  /* padding: 2rem; */
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  text-align: center;
  /* width: 100%; */
  margin: 0 auto;

}

.logo {
  height: 8rem;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.keyBoard{
  color: #333;
}

.chat {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 100%;
  align-items: center;

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;

    .mic {
      display: flex;
      width: 96px;
      height: 96px;
      border-radius: 100%;
      color: #f0f0f0;
      background-color: #e65a5a;
  
      img {
        width: 64px;
      }
    }
  }
}

.read-the-docs {
  color: #888;
}
